#carouselWrapper {
	height: 30em;
	min-height: 30em;
	overflow-y: clip;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

.carouselText {
	position: absolute;
	top: 26em;
	right: 1vw;
	color: black;
	background-color: wheat;
	padding: .5em;
	border: 1px solid white;
	border-radius: 50%;
	opacity: .9;
}