#carouselWrapper {
	height: 30em;
	min-height: 30em;
	overflow-y: clip;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid var(--secondary);
	border-top: 3px solid var(--secondary);
}

.carouselText {
	position: absolute;
	top: 26em;
	right: 1vw;
	color: black;
	background-color: var(--foreground);
	padding: 0.5em;
	border-radius: 50%;
	opacity: 0.9;
}