#navbarWrapper {
	z-index: 5;
	width: 100vw;
	display: flex;
	align-content: center;
	justify-content: center;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.24);
}

.navlinks {
	padding: 1em;
	text-shadow: 1px 1px black;
}

.active {
	border-bottom: 3px double black;
}

@media screen and (max-width: 480px) {
	.navlinks {
		font-size: 0.85em;
		padding: 0.5em;
	}
}