#aboutPage {
	padding: 5em;
}

#firstRow, #secondRow, #collage {
	display: flex;
	justify-content: center;
	align-items: center;
}

#listWrapper {
	border: 8px double var(--secondary);
	border-radius: 5%;
	padding: 5px !important;
	max-height: 50%;
	background-color: var(--foreground);
}
.MuiImageList-root {
	border-radius: 5%;
	margin: 0px !important;
}

#meDuckyAndMouse, #birdBirdCrew {
	margin: 2em;
}

#aboutText {
	width: 25vw;
	margin: 2em;
	background-color: var(--foregroundFaded);
	padding: 1em;
	border-radius: 2em;
}

.MuiImageListItem-root {
	margin-left: -2px;
	margin-bottom: -2px;
	overflow-y: hidden;
}