#homePage {
	text-align: center;
}

#descriptionWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

#introWrapper {
	margin: 2em;
}

.title {
	font-size: 5em;
	font-weight: 100 !important;
	margin-bottom: 0;
}

.profession {
	margin-bottom: 1em;
}

#meAndPoppy {
	width: 20em;
	border-radius: 25%;
	border: 8px double black;
}

#socialsWrapper {
	width: 1em;
}

.socialLogo {
	width: 5em;
}

#github, #instagram {
	margin-left: 1em;
}

#linkedin {
	width: 7em;
}