#projectsPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 100px;
}

.demoPage {
	border: 2px solid black;
	background-color: wheat;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column;
}

.cover.demoPage.stf__item.--right.--hard.--simple {
	box-shadow: -10px -6px 41px black;
}

.preCover, .postCover {
	border: none;
	background-color: gainsboro !important;
}

.postCover {
	border-left: 2px solid black;
}

.projectImage {
	width: 18em;
}

.footer {
	display: flex;
	position: fixed;
	bottom: 0;
}

