#projectsPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
}

#buttons {
	margin-top: 30px;
}

#projectTitleWrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	justify-content: center;
	align-items: center;
}

#sizeNote {
	background-color: wheat;
	position: absolute;
	top: 33vh;
	margin: 0 auto;
	padding: 1em 1em 2em 1em;
	width: 80vw;
	border-radius: 15px;
	border: 2px solid black;
}

#questionMark {
	width: 1.5em;
	height: 1.5em;
}

.closeButton {
	width: 100%;
	text-align: right;
	padding-bottom: 0.25em;
	font-weight: bold;
	color: brown;
}

.closeButton:hover {
	opacity: 0.8;
}

.closeButton:active {
	opacity: 0.5;
}

@media screen and (max-width: 1382px) {
	#projectsPage {
		padding: 100px;
	}
}

@media screen and (max-width: 768px) {
	#projectTitleWrapper {
		display: flex;
		width: 90vw;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}
	#sizeNote {
		top: 20vh;
		width: 85vw;
	}
}