/* Theme */
:root {
  --background: #FFC68F;
  --backgroundFaded: #FFC68F7a;
  --foreground: #FFF3E3;
  --foregroundFaded: #FFF3E37a;
  --primary: #8FAFFF;
  --primaryFaded: #8FAFFF9a;
  --secondary: #647BB3;
  --tertiary: #B39264;
}

body,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background);
  margin: 0;
  margin-bottom: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 0.5;
}
a:active {
  font-weight: bold;
}
a img:active {
  transform: scale(80%);
}
a:visited {
  color: black;
}
